.row {
    justify-content: space-around;
}
.top {
    margin-bottom: 1em;
}
.icons {
    display: flex;
    justify-content: space-around;
}
// .paulImg {
//     position: absolute;
//     clip: (100px,400px,200px,0px)
// }